body{
  /* background: rgb(240, 237, 237); */
}
h3{
  margin-top: 40px;
}
html{
background-image: url(https://www.tastingtable.com/img/gallery/these-vintage-cookie-jars-are-rare-charming-and-worth-the-thrift-store-hunt/intro-1755191542.webp);
    background-repeat: no-repeat;
    background-size: cover;
}